@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Open+Sans:wght@400;700;800&family=Work+Sans:ital,wght@0,400;0,600;0,700;0,800;1,400;1,600&display=swap'); 


* {
    margin: 0;
    font-family: 'Work Sans', sans-serif;
}



/* Logo Styles */

.logo-section {
    display: flex;
    justify-content: center;
    align-items: center;
}

.gamer-title {

    font-weight: 700;
    padding-left: 20px;
    font-size: 2.8rem;
}


/* Nav Styles  */

nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-top: 38px;
}

nav>ul {
    display: flex;
    align-items: center;
}

nav li {
    list-style: none;
    padding: 20px;
}

nav li a {
    text-decoration: none;
    color:#3C354F;
    
    

    

    font-weight: 500;

}

/* menu button and icon styles  */

.follow-button {
    padding: 17px 22px;
    border: none;
    border-radius: 8px;
    background: rgba(11, 2, 35, 0.10);
    cursor: pointer;
    font-size: 1.1rem;
}


.fa-youtube, .fa-tiktok {
    font-size: 24px;
    padding-left: 24px;
}

.fa-youtube {
    color: red;
}

/* Banner styles  */

.banner-conent, .banner-img {
    width: 50%;
} 

.banner-content {
    padding-left: 244px;
    padding-top: 140px ;
}



.banner-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    
    
}

.banner-image {
    padding-right: 150px;
}

.banner-content {
    background-image: url(../images/Group\ 14.png);
    background-size: cover;
    background-repeat: no-repeat;
    padding-right: 280px;
}


.banner-subtitle {color: #0B0223;
    text-align: center;
    
    font-size: 3rem;
    font-style: normal;
    
   
    text-transform: uppercase;
}

.goat {
    color: #8758F1;

font-size: 5.5rem;

font-weight: 800;

text-transform: uppercase;

}


.banner-description, .gamer-description {
    color: #534C64;

font-size: 1.2rem;

font-weight: 500;
padding-bottom: 17px;
text-transform: lowercase;
} 


.btn-primary {
    margin-top: 30px;
    border-radius: 48px;
    background: var(--linear, linear-gradient(90deg, #FF42A5 0%, #FF42A5 100%));
    padding: 21px 40px;
    font-size: 1.2rem;
    color: #fff;
    border: none;
    
    cursor: pointer;
}

.go-btn{
    border-radius: 48px;
    background: #4EC5F7;
    padding: 21px 40px;
    font-size: 1.2rem;
    color: #fff;
    border: none;
    cursor: pointer;
    margin-bottom: 100px;
}

/* we are gamer styles  */
.gamer-container {
    display: flex;
    align-items: center;
    
}

.gamer-content {
    padding-top: 90px;
    padding-right: 150px;
    text-align: right;
    line-height: 30px;
}

.gamer-title {
    text-align: right;
    color: #8758F1;
    font-size: 3rem;
    
    font-weight: 700;
    margin-bottom: 24px;
    
}

.slogan {
    padding-top:25px;
}
.purpose {
color: #534C64;

font-size: 1.5rem;

font-weight: 500;
line-height: 45px; /* 187.5% */
}


.quote {
    color: #534C64;
font-family: Work Sans;
font-size: 2rem;
font-style: normal;
font-weight: 700;
line-height: 45px;
}

.gamers-img {
    padding-left: 150px;
    padding-top: 55px;
}

/* Gaming card/Funny Video section  */


.funny {
    margin-top: 130px;
}

.funny-purple {
    color: #8758F1;
}

.funny-video-title {
    color: #0B0223;
    text-align: center;
    font-family: Work Sans;
    font-size: 3rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.funny-video-description {
    color: #534C64;
    text-align: center;
    font-family: Work Sans;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px; /* 166.667% */
    margin-bottom: 80px;
}


.card-container {
    display: flex;
    justify-content: center;
    gap: 30px;
    margin-bottom: 80px;
}

.video-card {
    width: 17%;
}



.play-container {
    display: flex;
    justify-content: center;
    align-items: center;
}
.play-image-box {
    padding-right: 240px;
    padding-left: 100px;
}

.play-img-big {
    margin-left: 150px;
}

.mini-image {
    position: relative;
    bottom: 300px;
}

.play-content {
   padding-left: 300px;
   
}

.play-title {
    font-family: Work Sans;
font-size: 3rem;
font-style: normal;
font-weight: 700;
line-height: 60px; /* 125% */
}

.play-purple {
    color: #F948B2;
}

.play-description {
    color: #534C64;
font-family: Work Sans;
font-size: 1.1rem;
font-style: normal;
font-weight: 400;
line-height: 30px; /* 166.667% */
}




/* games list styles   */


.games-list-container1 {
    display: flex;
    justify-content: center;
    
    padding: 50px;
    column-gap: 30px;
    
    
}

.games-list-container2 {
    display: flex;
    justify-content: center;
    column-gap: 30px;
}

.games-list-content a {
    text-decoration: none;
    color: #0B0223;
    font-size: 1.2rem;
    font-weight: 600;

}

.games-list-content {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    
   

}


.games-list-content:hover {
    border-radius: 50px;
    border: 1px solid #FF42A5;
    padding: 10px;
    cursor: pointer;
    transition: 0.3s;
}



.games {
    margin-bottom: 100px;
}


/* footer styles  */

footer {
    background: #0B0223;
    text-align: center;
}


.footer-link a {
    text-decoration: none;
    color:#fff ;
    /* padding-right: 60px; */
    
}

.footer-logo {
    padding-top: 56px;
    padding-bottom: 56px;
}

.footer-link  {
    text-align: center;
    padding: 20px;
}

.social-icon {
    text-align: center;
}
.social-icon i {
    color: #fff;
    font-size: 2rem;
    padding-top: 20px;
    padding-right: 10px;
    padding-bottom: 30px;
}
.grey a{
    color: rgba(255, 255, 255, 0.60);
    padding: 20px;
}

.spacing {
    padding-bottom: 4px;
}

footer p {
    padding-top: 34px;
    color:rgba(255, 255, 255, 0.60) ;
    padding-bottom: 34px;
}

.footer-link {
    display: flex;
    justify-content: center;
    gap: 18px;
}


.upper a, .lower a {
    margin-right: 20px;
}







/* responsive for mobile  */

@media screen and (max-width: 576px) {

    /* nav mobile responsive  */

    nav, ul, .banner-container, .card-container, .play-container  {
        flex-direction: column;
        
    }

    

    nav ul {
        padding-left: 0px;
    }


    

    .banner-content {
        padding: 15px;
        max-width: 100%;
        text-align: center;
        
        
       
    }

    .banner-image {
        max-width: 100%;
        padding: 0px;
    }


    /* we are gamers mobile responsive section  */
    
    .gamer-container {
        flex-direction: column-reverse;
    }

   .gamers-img {
    max-width: 100%;
    padding: 0px;
   }
    
   .gamer-content {
    margin-top: 20px;
    padding: 20px;
    text-align: center;
   }

   .gamer-title {
    text-align: center;
    line-height: 1;
   }

   .btn-mobile {
    margin-right: 0px;
   }

/* funny videos mobile responsive  */

   .video-card {
    text-align: center;
    width: 100%;
}

/* play games online mobile responsive  */

.play-content {
    padding: 20px;
    text-align: center;
}

.play-image-box {
    padding: 0px;
    max-width: 100%;
    
    
}

.play-img-big {
    margin-left: 20px;
    width: 80%;
    padding-left: 30px;
}


.mini-image {
    position: relative;
    bottom: 130px;
    width: 40%;
}


/* games list responsive styles  */

.games-list-container1, .games-list-container2 {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    padding: 0px;
    row-gap: 10px;
    

}

.footer-link {
    display: grid;
    
}

.upper {
    margin-bottom: 20px;
}

.upper a, .lower a {
    margin-right: 10px;
}

.social-icon a {
    margin-right: 20px;
}

/* .footer-link a, .grey a{
    padding: 22px;
} */





/* .game-list-content a{
     text-align: left;
     font-size: 0.5rem;
     padding: 2px;
}  */





}


/* tab responsive    */

@media screen and (min-width: 576px) and (max-width: 992px) {
   .banner-container,.gamer-container,.play-container {
        flex-direction: column-reverse;
    }


    nav li {
        list-style: none;
        padding: 7px;
    }

    .banner-content {
        
        max-width: 100%;
       
        
        
       
    }

    .banner-content {
        background-image: url(../images/Group\ 14.png);
        background-size: cover;
        background-repeat: no-repeat;
        padding-right: 170px;
    }


    .banner-image {
        max-width: 100%;
        padding: 0px;
    }

    .gamer-container {
        padding: 50px;
    }
    .gamers-img {
        max-width: 100%;
        padding: 0px;
       }

       .card-container {
        display: grid;
        grid-template-columns: repeat(2,1fr);
    }

    .video-card {
        text-align: center;
        width: 100%;
    }


    .play-img-big {
        margin-left: 20px;
        width: 100%;
        padding-left: 30px;
    }
    
    
    .mini-image {
        position: relative;
        bottom: 130px;
        width: 50%;
    }



    .play-content {
        padding: 60px;
        text-align: center;
    }


    .games-list-container1, .games-list-container2 {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        padding: 0px;
        row-gap: 10px;
        
    
    }

    .play-content {
        margin-bottom: 30px;
    }


    footer {
        max-width: 100%;
    }

}